@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height : 100vh;
}

h1.title{
    font-weight: 600;
    font-size: 2rem;
}

main {
    margin: auto;
    max-width: 90vw;
    padding: 20px;

    margin-top: 1rem;
}

.modal_content {
    width: min(500px, 75%) !important;
}