

main.form-card { 
    margin: auto;
    > h1 {
        color: white;
        font-size: 25px;
        font-weight:700;
    }
    
    padding: 45px;
    border: 1px solid #50fcb4;
    border-radius: 8px;
    color: black;

    
    > form {

        > div.checkbox {
            > label {
                margin-right : 15px;
                margin-bottom : 0px;
                text-align: center;
            }
            > input {
                margin-top: 0px;
            }
            display: flex;
            align-items: center;
        }
        > div {
            margin-bottom: 25px;

            input:disabled {
                background-color: rgba(255, 255, 255, 0.744);
            }
            input, select {
                box-sizing: border-box;
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                background-color: rgba(255, 255, 255, 0.909);
            }
            label {
                font-size: 14px;
                
                color: white;
            }
            input:focus, select:focus{
                border: 0.5px solid black;
                outline: 2px solid #50fcb4;
            }
            input[type="checkbox"] {
            width: 20px;
            height: 20px;
            accent-color: #50fcb4;
            }
            input[type="checkbox"]:focus{
                outline: none;
            }
        }
        
        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}


button.action {
    width: 100%;
    padding: 10px;
    background-color: #50fcb4;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.action:hover {
    background-color: rgb(67, 210, 150);
    color: black;
}